GOOGLE_API_KEY=xpto...

NEXT_PUBLIC_SUPABASE_URL=https://seu-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xpto...
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xpto...
MP_ACCESS_TOKEN=TEST-xpto....

OPENAI_API_KEY=sk-proj-xpto...

NEXT_PUBLIC_SITE_URL=http://localhost:3000